h1{
    font-size: 50px;
    color: black;
    font-weight: 700 !important;
}

h2{
    font-size: 100px;
    color: #6A8BB4;
    font-weight: 700 !important;
    font-family: cursive;
}


h4{
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}


p {
    font-size: 22px;
    color: black;
    text-align: left;
}

