<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/yann_pfeiffer/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/yann82469662/" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/yann-pfeiffer-golf-geek/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Yann PFEIFFER
  </div>
</div>
