<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <%= image_tag "yannback.jpeg" %>
    </div>
    <div class="carousel-item img-fluid">
     <%= image_tag "yannfinish.jpeg" %>
    </div>
    <div class="carousel-item img-fluid">
      <%= image_tag "yannputt.jpeg" %>
  </div>
</div>
