<div class="d-flex" id="bio">
  <div class = "bio-img">
    <%= image_tag "yannak.jpeg"  %>
  </div>
  <div class="story">
    <h2>Mon Histoire</h2>
    <p>
      C’est l’histoire d’un petit garçon habité par sa passion. La légende raconte même que Yann Pfeiffer est né sur un fairway. A l’école, il a du mal à rester assis sur sa chaise, et pourtant il peut rester des heures sur le putting green, tant qu’il n’a pas rentré ses 100 putts d’affilé. Les profs le disent souvent “turbulent”. Ses coachs de golf, eux, appellent ça la hargne - “il ne lâche jamais rien le gamin, il ira loin..” Le midi, Yann ne mange pas à la cantine : il mange dans la voiture avec sa maman, qui le conduit au golf pour s’entraîner sur sa pause déjeuner.
      Il rêve de se confronter aux meilleurs amateurs, et pour cela, il lui faut décrocher une fac aux USA. Il en a entendu des ‘tu es mauvais’ ou ‘tu n’y arriveras jamais’ au lycée, mais il n’a jamais rien lâché. Et le travail a payé :
      Bac S avec mention tout en jouant régulièrement pour l’équipe de France. Il décroche une bourse et s’envole pour l’Amérique. C’est ça l’effet du golf sur Yann : persévérer, se dépasser, gagner.
    </p>
    <p>
      Le travail acharné, voilà ce qui a rythmé ces 4 années. Quand il n’était pas en tournoi, les journées ressemblaient à ça:
    </p>
    <ul>
      <li>
        6h00 : 12 tours de piste d’athlétisme
      </li>
      <li>
        7h : séance musculation
      </li>
      <li>
        9h : entrainement de golf
      </li>
      <li>
        14 -18h : cours
      </li>
      <li>
        19h – 23h : révisions
      </li>
    </ul>

    <p>
      Ce garçon, c’était moi. Je repense à lui qui a débarqué aux US sans parler un mot d’Anglais, et qui est aujourd’hui diplômé en finance d’une Université Américaine. Je repense aux leçons d’humilité qui ont forgé le joueur que je suis devenu. Je repense au jour où j’ai failli tout plaquer, et ce même jour je suis reparti m’entraîner, encore plus motivé :
      Le tournoi s’appelle Thalis Park invitational, et ce jour là mon jeu n’était pas à la hauteur de mes attentes. Je rentre dépité. Je n’en peux plus, c'est trop dur, je n y arrive plus. J’appelle ma famille, et je leur annonce que la flamme s’est éteinte, je renonce. Je me souviens parfaitement de leur réponse : “Attends Yann, si c’était facile, alors tout le monde serait au top niveau, et il n’y aurait aucun mérite à être champion.
      Les vrais champions sont ceux qui se relèvent après la tempête, ceux qui persévèrent quand tous les autres abandonnent. Si tu n’es pas prêt pour les coups durs, autant arrêter tout de suite”
      Ce jour là, j’ai décidé de ne JAMAIS abandonner. De m’entraîner plus dur que les autres, d’être POSITIF et de me forger un mental de battant.
    </p>
  </div>
</div>


