<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://gozips.com/images/2017/3/18/Pfeiffer_Putt.jpg?width=1128&height=635&mode=crop);">
  <div class="cardopac justify-content-end mt-4 ">
    <div class="coach d-flex ">
      <div class="coachpic">
        <div class="picture">
          <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/guillaume-viant-benard-prof-de-golf-paris.jpg" alt=" photo-guillaume">
        </div>
        <div id="coach">
          <p>Guillaume Viant-Benart </p>
        </div>
      </div>
      <div class="spe">
        <span id="specific">
          Expert Long jeu
        </span>
        <div class="card">
          <span>
            "J'adore travailler avec Yann, un mec serieux qui en veux."
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="cardopac">
    <div class="coach d-flex justify-content-end">
      <div class="coachpic">
        <div class="picture">
          <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2019/10/Maxime-MOULIN-1024x983-e1572468455852.jpg" alt=" photo-max">
        </div>
        <div id="coach">
          <p>Maxime Moulin </p>
        </div>
      </div>
      <div class="spe">
        <span id="specific">
          Expert Physique
        </span>
        <div class="card">
          <span>
            "Yann est très assidu dans ce qu'il entreprend."
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="cardopac">
   <div class="coach d-flex justify-content-end">
      <div class="coachpic">
        <div class="picture">
          <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/jean-pierre-cixous-prof-de-putting-paris.jpg" alt=" photo-jp">
        </div>
        <div id="coach">
          <p>Jean-Pierre Cixous </p>
        </div>
      </div>
      <div class="spe">
        <span id="specific">
          Expert Putting
        </span>
        <div class="card">
          <span>
            "Très bon putter, futur numéro 1 mondial de putting."
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="cardopac">
    <div class="coach d-flex justify-content-end">
      <div class="coachpic">
        <div class="picture">
          <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/Mark-Walker-coach-mental-golf-paris.jpg" alt=" photo-mark">
        </div>
        <div id="coach">
          <p>Mark Walker </p>
        </div>
      </div>
      <div class="spe">
        <span id="specific">
          Expert Mental
        </span>
        <div class="card">
          <span>
            "Yann is a great person to work with, and he got a lot of guts"
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
