<div class="team">
  <%= image_tag "Yann Zgolf.jpg" %>
</div>

  <div class="container">
    <h2>Mon équipe</h2>
      <div class="coach d-flex">
        <div class="coachpic">
          <div class="picture">
            <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/guillaume-viant-benard-prof-de-golf-paris.jpg" alt=" photo-guillaume">
          </div>
          <div id="coach">
            <p>Guillaume Viant-Benart </p>
          </div>
        </div>
        <div class="card">
          <p>
            J’entends pratiquer un coaching adapté à chaque joueur, en fonction de ses attentes mais aussi de ses aptitudes et de son niveau.
            Equipé des meilleurs outils d’analyses tel que le TrackMan les plaques de forces Smart2move ou encore le système d’analyse 3D MySwing Pro, je propose une analyse digne des meilleurs joueurs professionnels, je ne veux pas deviner ce que je peux mesurer, Il faut savoir avant de savoir-faire.
            Que vous soyez dans une pratique « loisir » ou « sportive », mon engagement est de donner une instruction de haute qualité tout en restant à votre écoute.
          </p>
        </div>
      </div>
      <div class="coach d-flex">
        <div class="coachpic">
          <div class="picture">
            <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2019/10/Maxime-MOULIN-1024x983-e1572468455852.jpg" alt=" photo-max">
          </div>
          <div id="coach">
            <p>Maxime Moulin </p>
          </div>
        </div>
        <div class="card">
          <p>
            Ayant toujours aimé la performance et le haut niveau, je me consacre au coaching et à la préparation physique afin d’aider un maximum de sportif à atteindre leur meilleur potentiel athlétique.        </p>
        </div>
      </div>
      <div class="coach d-flex">
        <div class="coachpic">
          <div class="picture">
            <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/jean-pierre-cixous-prof-de-putting-paris.jpg" alt=" photo-jp">
          </div>
          <div id="coach">
            <p>Jean-Pierre Cixous </p>
          </div>
        </div>
        <div class="card">
          <p>
            Depuis plusieurs années maintenant, j’ai fait du Petit Jeu et du Putting mon domaine de prédilection et d’expertise. Je cherche sans cesse à développer cette expertise grâce à des rencontres avec les meilleurs spécialistes et aux dernières technologies afin de conseiller et guider au mieux juniors, amateurs de haut niveau et professionnel(les). à votre écoute.
          </p>
        </div>
      </div>
      <div class="coach d-flex">
        <div class="coachpic">
          <div class="picture">
            <img class="avatar" src="https://www.golfskills.fr/wp-content/uploads/2018/10/Mark-Walker-coach-mental-golf-paris.jpg" alt=" photo-mark">
          </div>
          <div id="coach">
            <p>Mark Walker </p>
          </div>
        </div>
        <div class="card">
          <p>
            Passionné de soutenir et aider mes élèves à devenir les meilleurs golfeurs possibles. J’ai la certitude que tout le monde peut apprendre les compétences de base qui mènent à devenir un golfeur mentalement et émotionnellement fort.
          </p>
        </div>
      </div>
  </div>
