.navbar-lewagon {
  justify-content: space-between;
  background: #6A8BB4;
  height: 85px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}


